@import "tailwindcss";

@theme {
  --color-primary: #0072da;
  --color-accent: #ffb489;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
